
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* --------DESKTOP --------*/
.desktop-container{
    width: 100vw;
    height: 100vh;
    background-color: #008080;
    background-size: cover;
    overflow: hidden;
    position: relative;
    font-family: 'Tahoma', 'Arial', sans-serif;
}


/* ------- BOOT SCREEN -------*/
.boot-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2000;
    display: none;

    font-family: monospace;
    color: white;
    padding: 20px;
    font-size: 1.1rem;
}

.hidden{
    display: none !important;
}

/* --------TASKBAR --------*/
.taskbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #c0c0c0;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    z-index: 999;
    box-shadow: 0 -1px 0 #808080;
}

.taskbar__start-button{
    background: #c0c0c0;
    border: 1px solid;
    border-color: #fff #000 #000 #fff;
    padding: 2px 10px 2px 5px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: 1px 1px 0 #000;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.taskbar__start-label{
    font-size: 20px;
}

.taskbar__start-logo{
    height: 20px;
    width: 20px;
    padding: 0;
    left: 3px;
}

.taskbar__clock{
    font-size: 12px;
    border: 1px solid #808080;
    padding: 2px 30px;
    height: 20px;
    
}

/* -------- ICONS --------*/
.desktop-icon{
    position: absolute;
    width: 80px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #000;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 0;
}

.desktop-icon img{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.icon__label{
    display: block;
    font-size: 12px;
}

.icon-pos-1{
    top: 10px;
    left: 10px;

}

.icon-pos-2{
    top: 200px;
    left: 10px;
}

.icon-pos-3{
    top: 300px;
    left: 10px;
}

/* --------WINDOWS --------*/
.project-window{
    position: absolute;
    top: 50px;
    left: 150px;
    width: 600px;
    height: 400px;
    background-color: #c0c0c0;
    border: 1px solid #000;
    box-shadow: 5px 5px 0 #000;
    z-index: 1000;
    resize: both;
    overflow: auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    display: none;  /*Initially hidden, JS will display it */
}

.window-title-bar{
    height: 25px;
    background: linear-gradient(to right, #0a246a, #a4c5e3);
    color: #fff;
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    border-bottom: 1px solid #000;
}

.window__title{
    font-size: 14px;
    font-weight: bold;
}

.window-controls button{
    background: #c0c0c0;
    border: 1px solid;
    border-color: #fff #000 #000 #fff;
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    box-shadow: 1px 1px 0 #000;
    margin-left: 3px;
}

.window-controls button:active{
    border-color: #000 #fff #fff #000;
}

/* -------- WINDOW CONTENT --------*/
.window-content{
    padding: 15px;
    background-color: #fff;
    height: calc(100% - 25px);
    overflow-y: auto;
}

.window-content h3{
    color: #000;
    font-size: 1.2rem;
    margin-top: 0;
}


.project-details{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.project-details h4{
    color: #0a246a;
    margin-bottom: 5px;
}


/* -------- MENU START --------*/
.start-menu{
    position: absolute;

    bottom: 40px;
    left: 0;

    width: 200px;
    background: #c0c0c0;

    border: 1px solid;
    border-color: #fff #000 #fff;
    box-shadow: 2px 2px 0 #000;

    display: flex;

    display: none;
}

.menu-sidebar{
    width: 30px;
    background: #808080;
    display: flex;
    align-items: flex-end;
    padding: 5px 0;
    border-right: 1px solid #000;
}

.sidebar-text{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: bold;
    color: #c0c0c0;
    text-shadow: 1px 1px #000;
    padding-left: 3px;
    font-size: 14px;
}

.menu-items{
    list-style: none;
    padding: 5px;
    margin: 0;
    flex-grow: 1;
}

.menu-item a{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 3px 5px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    white-space: nowrap;
}

.menu-item img{
    width: 18px;
    height: 18px;
}

.menu-item a:hover{
    background-color: #0a246a;
    color: #fff;
}

.menu-shutdown{
    border-top: 1px solid #808080;
    padding-top: 5px;
    margin-top: 5px;
}