@font-face {
   font-family: VehicleJNL;
   src: url(./assets/fonts/vehicle-jnl-regular.ttf) format("truetype");
}

@font-face {
   font-family: Narcissus;
   src: url(./assets/fonts/Narcissus-Roman.otf) format("opentype");
}



html{
   font-size: 100%;
}

body{
   margin: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: rgba(20, 20, 20, 0.9);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-blend-mode: multiply; 

}

.page-container {
   width: 100%;
   background-color: rgba(20, 20, 20, 100);
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
   position: relative;
   z-index: 10;
}


.main-header{
   top: 0;
   z-index: 1000;
   position: fixed;
   transition: top 0.3s ease-in-out;
   width: 100%;
   margin: 0 auto;
   padding: 20px;
   height: 50px;
   background-color: rgba(20, 20, 20, 0.7);
   color: #f0e6d2; 
   border-bottom: 2px solid #a88d55;
   box-shadow: 0 4px 8px rgba(0,0,0,0.4);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.main-header.hidden{ 
   top: -100px;
}


.no-scroll{
   overflow: hidden;
}

.main-header__logo-img { 
   height: 80px;
   width: 300px;
   max-width: 500px;
   vertical-align: middle;
   filter: drop-shadow(0 0 3px rgba(168, 141, 85, 0.7)); 
}

.main-nav__list { 
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   padding-bottom: 10px;
   padding-right: 50px;
   gap: 30px;
}

.main-nav__link{ 
   text-decoration: none;
   color: #f0e6d2;
   font-size: 18px;
   font-family: 'Playfair Display', serif;
   text-transform: uppercase;
   letter-spacing: 10px;
}

.main-nav__link:hover{ 
   color: #e5c98f;
   border-bottom: 1px solid #e5c98f;
}



.content-wrapper {
   max-width: 100%; 
   margin: 10px auto; 
   background-color: #000f1b; 
   padding: 60px;
   border: 1px rgba(20, 20, 20, 0.7); 
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
   color: #f0e6d2; 
   font-family: 'Lora', serif;
   height: auto; 
   margin-top: 90px; 
}

.content-wrapper__title-style { 
   font-family: 'Playfair Display', serif;
   color: #e5c98f;    
   text-align: left;
   margin-bottom: 20px;
   border-bottom: 1px solid rgba(168, 141, 85, 0.5);
   padding-bottom: 10px;
}


/* ---------------------------------------------------- */
/* 5. HERO SECTION (.hero-section) */
.hero-section{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 100px;
   padding: 100px 0;
}

.text-block{
   max-width: 55%;
   margin-bottom: 0;
   height: 50vh; 
   display: flex;
   align-items: center;
}

.text-block__title{ 
   text-align: left;
   font-size: 80px;
   margin-bottom: 5px;
   font-family: "Playfair Display", serif;
   color: #f0e6d2;
}

.hero-slogan{
   font-family: "Playfair Display", serif;
   font-size: 1.8rem;
   color: #f0e6d2;
   margin-top: 15px;
   margin-bottom: 25px;
   letter-spacing: 2px;
}

.text-block__subtitle{ 
   text-align: left;
   font-family: Narcissus, serif;
   color: #f1ae09;
   font-size: 40px;
   margin-top: 0px;
}

.decorative-sep{
   width: 900px;
   height: 3px;
   background-color: #a88d55;
   margin: 20px 0;
   margin-left: 0;
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.cta-button{
   display: inline-block;
   margin-top: 40px;
   padding: 12px 30px;
   text-decoration: none;
   text-transform: uppercase;

   background-color: transparent;
   border: 2px solid #a88d55;
   color: #e5c98f;
   font-family: "VehicleJNL", sans-serif;
   font-size: 1.1rem;
   letter-spacing: 3px;

   transition: all 0.3s ease;
}

.cta-button:hover{
   background-color: rgba(168, 141, 85, 0.2);
   box-shadow: 0 0 15px rgba(168, 141, 85, 0.5);
}


.image-hover-container{
   position: relative;
   width: 100%;
   max-width: 550px;
   height: 100%;
   max-height: 550px;
   aspect-ratio: 1 /1 ;
   overflow: hidden;
   cursor: pointer;
}

.image-hover-container__main-image{ 
   width: 100%;
   height: 100%;
   display:block;
   object-fit: cover;
   position: relative;
   z-index: 1;
}

.reveal-area{
   position: absolute;
   width: 200px;
   height: 200px;
   opacity: 0;
   border-radius: 50%;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   top: -9999px;
   left: -9999px;
   pointer-events: none;
   overflow: hidden;
   z-index: 2;
   transition: opacity 0.3s ease-in-out;
}

.reveal-area__image{ 
   position: absolute;
   width: var(--hover-container-width,100%);
   height: var(--hover-container-height, 100%);
   object-fit: cover;
}

.image-hover-container:hover .reveal-area{
   opacity: 1;
}


.nadave{
   height: 1000vh;
}

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* 6. FOOTER BLOCK (.main-footer) */
/* ---------------------------------------------------- */

.main-footer { 
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.9);
    color: #a88d55;
    text-align: center;
}

.main-footer__copy { 
    font-size: 0.9rem;
    margin: 0;
}

/* ---------------------------------------------------- */
/* 7. ANIMATIONS (Mantido) */
/* ---------------------------------------------------- */

.content-fade-in{
   transition: opacity 1s ease-in-out;
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.content-visible{
   opacity: 1;
   transform: translateY(0);
}


.code-image{
   position: absolute;
   bottom: 10px;
   right: 10px;
   width: 150px;
   height: auto;
   opacity: 0.8;
   z-index: 5;
}


/* Interactive Container*/
.iframe-interactive-wrapper{
   position: relative;
   display: inline-block;
   cursor: pointer;
   z-index: 102;
}

#spotlight-overlay{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   z-index: 100;

   background-color: rgba(0, 0, 0, 0.0);
   transition: background-color 0.5s ease-in-out;
   pointer-events: none;
}

.spotlight-overlay-on{
   background-color: rgba(0, 0, 0, 0.9) !important;
}

/* Iframe blur */
#os-frame{
   transition: all 0.5s ease;
}

.iframe-overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.1);
   transition: opacity 0.3s ease;
   pointer-events: none;
}

.overlay-text{
   font-family: 'VehicleJNL', sans-serif;
   color: #fff;
   font-size: 30px;
   letter-spacing: 5px;
   opacity: 0.8;
   text-shadow: 
      0 0 5px #e5c98f,
      0 0 10px #e5c98f,
      0 0 20px #a88d55;
   transition: opacity 0.3s ease;    
   text-align: center;
   display: block;
   padding: 20px
}

.iframe-interactive-wrapper:hover #os-frame{
   filter: blur(0) brightness(1);
}

.iframe-interactive-wrapper:hover .overlay-text{
   opacity: 1;
   transform: scale(1.1);
   text-shadow:
      0 0 7px #fff,
      0 0 15px #e5c98f,
      0 0 30px #a88d55; 
}

/* Iframe container (Projects tab)*/
#os-project-section{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 50px 0;
   /*Fix this*/
   margin-top: 100px;
   height: auto;
}

/* State 1: minimized*/
.os-frame-minimized{
   width: 800px;
   height: 450px;
   border: 3px solid #666;
   /*transition: all 0.5s ease-in-out;*/
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
   z-index: 103;
   pointer-events: none;
   filter: blur(5px) brightness(0.7);
}

/* State 2: expanded (full scren)*/
.os-frame-expanded{
   position: fixed;
   top: 0 !important;
   left: 0 !important;
   width: 100vw;
   height: 100vh;
   border: none;
   /*transition: all 0.5s ease-in-out;*/
   z-index: 103;
   margin: 0;
   pointer-events: auto;
   filter: blur(0px) brightness(1);
}

.project-title{
   font-family: 'Narcissus', serif;
   color: #f1ae09;
}



/* ---------------------------------------------------- */
/* 8. MEDIA QUERY (Mobile Responsivo) */
/* ---------------------------------------------------- */

@media (max-width: 768px) {
    
    /* LAYOUT PRINCIPAL */
    .content-wrapper {
        padding: 30px 10px; 
    }

    /* HEADER */
    .main-header {
        flex-direction: column; 
        height: auto; 
        padding: 10px;
        position: relative; 
    }

    .main-nav__list {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        gap: 10px;
        margin-top: 10px;
    }
    
    .main-header__logo-img {
        height: 60px;
        width: auto;
    }
    
    .main-nav__link {
        font-size: 1rem;
        letter-spacing: 5px;
    }


    .hero-section {
        flex-direction: column; 
        gap: 40px; 
        padding: 50px 0;
        justify-content: flex-start;
    }


    .text-block {
        max-width: 90%; 
        height: auto;
    }

    .text-block__title, 
    .text-block__subtitle {
        text-align: center; 
    }


    .image-hover-container {
        width: 100%;
        max-width: 80vw; 
        height: 100%;
        max-height: 80vh;
    }
    .reveal-area {
        width: 100px; 
        height: 100px;
    }
}