@font-face {
    font-family: VehicleJNL;
    src: url(./assets/fonts/vehicle-jnl-regular.ttf) format("truetype");
}

@font-face {
    font-family: Narcissus;
    src: url(./assets/fonts/Narcissus-Roman.otf) format("opentype");
}
html{
    font-size: 200%;
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /*
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 100%), 
        linear-gradient(to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 100%), 
        url("./assets/images/bg-texture.jpg"); 
        */
    
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #4b3e32;
}

.background-container {
    width: 100%;
    background-color: rgba(20, 20, 20, 100);
    padding: 10px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}

.main-header{
    
    top: 0;
    z-index: 1000;
    position: fixed;

    transition: top 0.3s ease-in-out;

    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 50px;
    background-color: rgba(20, 20, 20, 0.7);
    color: #f0e6d2; 

    border-bottom: 2px solid #a88d55;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; */
}

.header-hidden{
    top: -100px;
}

.main-header img {
    height: 80px;
    width: 300px;
    max-width: 500  px;
    vertical-align: middle;
    filter: drop-shadow(0 0 3px rbga(168, 141, 85, 0.7));
}


.main-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-bottom: 10px;
    padding-right: 50px;
    gap: 30px;
}

.main-header nav a{
    text-decoration: none;
    color: #f0e6d2;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 10px;

}

.main-header nav a:hover{
    color: #e5c98f;
    border-bottom: 1px solid #e5c98f;
}

.content-wrapper {
    max-width: 100%; 
    margin: 10px auto; 
    background-color: #000f1b; 
    padding: 60px;
    height: 100vh;
    border: 1px rgba(20, 20, 20, 0.7); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
    color: #f0e6d2; 
    font-family: 'Lora', serif;
}


.content-wrapper h2 {
    font-family: 'Playfair Display', serif;
    color: #e5c98f;     
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(168, 141, 85, 0.5);
    padding-bottom: 10px;
}

.content-wrapper img{
    /*max-width: 50%;*/
    width: 500px;
    display: block;
    height: auto;
    display: block;
    margin: 150px 200px auto;
}

.content-wrapper p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #f1ae09;
    
    
}

.hero-section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    gap: 100px;
    

}

.hero-section img{
    height: auto;
}

.text-block{
    max-width: 55%;
    margin-bottom: 0;
}

.text-block h1{
    text-align: left;
    margin-bottom: 5px;
}

.text-block p{
    text-align: left;
    font-family: Narcissus, serif;
    margin-top: 0px
}

.content-fade-in{
    transition: opacity 1s ease-in-out;

    opacity: 0;

    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.content-visible{
    opacity: 1;
    transform: translateY(0);
}


.image-hover-container{
    position: relative;
    width: 850px;
    height: 850px;
    overflow: hidden;
    cursor: pointer;
}

.main-image{
    width: 100%;
    height: 100%;
    display:block;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.reveal-area{
    position: absolute;
    width: 200px;
    height: 200px;

    opacity: 0;

    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    top: -9999px;
    left: -9999px;

    pointer-events: none;

    overflow: hidden;
    z-index: 2;

    transition: opacity 0.3s ease-in-out;
}

.reveal-image{
    position: absolute;
    width: 850px;
    height: 850px;
    object-fit: cover;

    left: 0;
    top: 0;
}

.image-hover-container:hover .reveal-area{
    opacity: 1;
}
